/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

/* UTILITY */
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.bg-grey{
  background-color: #f6f6f6;
}

/* HEADER */
header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #3161e0;
  font-size: 12px;
}
  

header .content-header{
  display: flex;
  justify-content: space-between;
}

header .logo img{
  width: 130px;
  vertical-align: middle;
}

header nav ul{
  display: flex;
  list-style: none;
  padding: 10px 0 ;
}

header nav ul li{
  padding: 0 20px;
}

header a{
  text-decoration: none;
  color: white;
}

header a:hover{
  color: lightblue;
}

.button-accedi a{
  color: black;
}

header .button-accedi{
  border-radius: 20px;
  line-height: 40px;
  background-color: white;
  color: black;
  padding: 0 15px;
}
/* /HEADER */

/* MAIN */

/* JUMBOTRON */
main .jumbotron{
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
  /* margin-bottom: 120px; */
}
  
main .jumbotron .content-jumbotron{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

main .jumbotron .content-jumbotron h1{
  padding-bottom: 40px;
  font-size: 50px;
}

main .jumbotron .content-jumbotron p{
  font-size: 16px;
  line-height: 25px;
}

.content-jumbotron .button-jumbotron{
  display: flex;
  padding: 30px;
  gap: 25px;
}
  

.content-jumbotron .button-jumbotron-1, .button-jumbotron-2{
  border-radius: 30px;
  padding: 15px 25px;
}
 
.button-jumbotron-1 a, .button-jumbotron-2 a{
  text-decoration: none;
}


.content-jumbotron .button-jumbotron-1{
  background-color: white;
}

.content-jumbotron .button-jumbotron-2{
  background-color: #23272a;
}

.content-jumbotron .button-jumbotron-1 a{
  color: black;
}

.content-jumbotron .button-jumbotron-1 a:hover, .content-jumbotron .button-jumbotron-2 a:hover{
  color: #255ee9;
}

.content-jumbotron .button-jumbotron-2 a{
  color: white;
}

.content-jumbotron .button-jumbotron-1 i{
  padding: 0 5px;
  font-size: 13px;
}
/* /JUMBOTRON */

/* SECTION */

.section-row{
  padding: 100px 0;
}

.section-row .content-section-row{
  display: flex;
  justify-content: space-between;
}

.section-row .content-section-row img{
  width: 550px;
}

.section-row .section-row-text{
  width: 300px;
}

.section-row .allineamento-img1{
  padding-top: 73px;
}

.section-row .allineamento-img2{
  padding-top: 30px;
}

.section-row .allineamento-img3{
  padding-top: 45px;
}

.section-row .section-row-text h2, .section-row .content-section-row-2 h2{
  font-size: 40px;
  color: #2a2e31;
  padding-bottom: 25px;
  font-weight: 700;
}

.section-row .section-row-text p, .section-row .content-section-row-2 p{
  line-height: 25px;
  color: #2a2e31;
}

.content-section-row-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.section-img-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-img-bottom h3{
  font-size: 28px;
  color: #2a2e31;
}

.section-row .content-section-row-2 .button-download{
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #8ea1e1;
}

.section-row .content-section-row-2 .button-download a{
  color: white;
  text-decoration: none;
}

.section-row .content-section-row-2 .button-download a:hover{
  color: #23272a;
}

.section-row .content-section-row-2 .button-download i{
  padding: 0 5px;
  font-size: 13px;
}

/* /SECTION */

/* /MAIN */

footer{
  background-color: #23272a;
  height: 600px;
  padding-top: 80px;
  font-size: 12px;
}

footer .footer-top{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-bottom: 1px solid #8ea1e1;
  padding-bottom: 20px;
}

footer .footer-top li h3{
  color: #8ea1e1;
}

footer .footer-top .column-social li h3{
  font-size: 25px;
}

footer .footer-top .column-social li i{
  padding-right: 15px;
  font-size: 16px;
}

footer .footer-top ul{
  list-style: none;
}

footer .footer-top li{
  padding-bottom: 15px;
}

footer .footer-top li a{
  color: white;
  text-decoration: none;
}

footer .footer-top li a:hover{
  color: aqua;
}

footer .column-social{
  width: calc(100% / 3);
}

footer .column-social img{
  width: 20px;
  vertical-align: middle;
}

footer .column-footer{
  width: calc(100% / 6);
  
}

footer .footer-bottom{
  display: flex;
  justify-content: space-between;
}

footer .footer-bottom .logo-footer{
  width: 50px;
  height: 50px;
  background-color: darkmagenta;
}

footer .footer-bottom .button-registrati{
  width: 150px;
  height: 50px;
  background-color: gold;
}